# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Temporary upload logs
backend/app/temp_uploads/*
!backend/app/temp_uploads/.gitkeep

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
